/TestNG/BookingTestNG/build/
/TestNG/BookingTestNG/nbproject/private/
/TestNG/RegularSigninandSignout/build/
/TestNG/RegularSigninandSignout/nbproject/private/
/TestNG/RegularSignInandSignout/build/
/TestNG/RegularSignInandSignout/nbproject/private/
/TestNG/Booking_Subscribe_TestSuite/build/
/TestNG/Booking_Subscribe_TestSuite/nbproject/private/
/TestNG/SearchingForHotels_TestSuite/build/
/TestNG/SearchingForHotels_TestSuite/nbproject/private/
/TestNG/AddtoWishList_TestSuite/build/
/TestNG/AddtoWishList_TestSuite/nbproject/private/